<!DOCTYPE html>
<html>

<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
</head>
<style>
    .content{
        display:flex;justify-content: center}
    .cadastro{
        width: 100%;max-width: 500px;}
    .form-group {
        max-width: 500px;
    }
</style>
{% extends "layout.html" %}
{% block conteudo %}
<body>
    <div class="cadastro my-4">
    <h1>Cadastro</h1>
    </div>
    <form>
    <div class="form-row my-4">
    <div class="form-group col-md-6">
      <label for="inputNome">Nome</label>
      <input type="nome" class="form-control" id="inputNome">
    </div>
    <div class="form-group col-md-6">
      <label for="inputSobrenome">Sobrenome</label>
      <input type="sobrenome" class="form-control" id="inputSobrenome">
    </div>
    <div class="form-group col-md-6">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Voluntário</label>
    </div>
    <div class= "form-group col-md-4">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Não-voluntário</label>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu e-mail">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword">Senha</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Crie uma senha">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Endereço</label>
    <input type="text" class="form-control" id="inputAddress">
  </div>
  <div class="form-group">
    <label for="complemento">Complemento</label>
    <input type="text" class="form-control" id="complemento">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Cidade</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Estado</label>
      <select id="inputState" class="form-control">
        <option selected>Selecione o Estado</option>
        <option>CE</option>
        <option>RN</option>
        <option>PI</option>
        <option>MA</option>
        <option>SE</option>
        <option>RE</option>
        <option>BA</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Desejo receber notificações no email
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar-me</button>
</form>

</body>

{% endblock %}
</html>