<!DOCTYPE html>
<html>

<head>
    <title>Criar anúncio</title>
    <meta charset="UTF-8">
</head>
<style>
    .form-group {
        max-width: 500px;
        color: #FFFFFF;
    }
</style>
{% extends "layout.html" %}
{% block conteudo %}
<body>
    <div class="titulo my-3">
        <h1>Criar Anúncio</h1>
    </div>
    <form action="formcriaranuncio" method="post">
    <div class="form-group">
      <label for="inputTítulo4">Título</label>
      <input type="text" class="form-control" name="titulo_anuncio">
    </div>
      <div class="form-group">
      <label for="exampleFormControlTextarea1">Descrição</label>
      <textarea class="form-control" name="descricao_anuncio" placeholder="Descreva o anúncio..." rows="4"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Foto do anúncio</label>
      <input type="file" class="form-control-file" name="imagem_anuncio">
    </div>
    <div class="form-group">
        <h2>Informações para contato</h2>
      <label for="inputtelephone">Telefone</label>
      <input type="telephone" class="form-control" name="telefone_contato"  placeholder="(DDD) 0000-0000">
    </div>
    <div class="form-group">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" name="email_contato">
    </div>
      <a type="button" class="btn btn-primary my-3" href="/infoad" role="button">Publicar</a>
    </div>
    </form>
</body>
{% endblock conteudo  %}
</html>