<!DOCTYPE html>
<html>

<head>
    <title>Criar anúncio</title>
    <meta charset="UTF-8">
</head>
<style>

</style>
{% extends "layout.html" %}
{% block conteudo %}
<body>
    <div class="titulo my-3">
        <h1>Criar Anúncio</h1>
    </div>
    <form action="formcriaranuncio" method="get">
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputTítulo4">Título</label>
      <input type="Título" class="form-control" id="inputTítulo4">
    </div>
    <div class="form-group col-md">
      <label for="exampleFormControlTextarea1">Descrição</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group col-md-6">
      <label for="exampleFormControlFile1">Foto do anúncio</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <p>Informações para contato</p>
    <div class="form-group col-md-6">
      <label for="inputtelephone">Telefone</label>
      <input type="telephone" class="form-control" name="telefone" placeholder="(DD)0000-0000">
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    </div>
      <a type="button" class="btn btn-primary my-3" href="/infoad" role="button">Publicar</a>
    </div>
    </form>
</body>
{% endblock %}
</html>