<!DOCTYPE html>
<html>

<head>
    <title>Feed</title>
    <meta charset="UTF-8">
</head>
<style>

</style>
{% extends "layout.html" %}
{% block conteudo %}
<body>
    <div class="titulo my-3">
        <h1>Anúncios</h1>
    </div>
<div class="card-deck my-4">
  <div class="card">
    <img src="{{url_for('static', filename='img/supermercado01.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Compras no supermercado</h5>
      <a href="#" class="btn btn-primary">Ver mais</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Publicado por Sônia Ramos</small>
    </div>
  </div>
  <div class="card">
    <img src="{{url_for('static', filename='img/farmacia01.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Compras na farmácia</h5>
      <a href="#" class="btn btn-primary">Ver mais</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Publicado por Marcos Aurélio</small>
    </div>
  </div>
  <div class="card">
    <img src="{{url_for('static', filename='img/pagamento01.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pagamento de conta</h5>
      <a href="#" class="btn btn-primary">Ver mais</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Publicado por Vânia Soares</small>
    </div>
  </div>
</div>
<div class="card-deck my-4">
    <div class="card">
    <img src="{{url_for('static', filename='img/duvidas01.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dúvidas com celular</h5>
      <a href="#" class="btn btn-primary">Ver mais</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Publicado por Lúcia Rodrigues</small>
    </div>
  </div>
    <div class="card">
    <img src="{{url_for('static', filename='img/exames01.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Buscar exames no posto</h5>
      <a href="#" class="btn btn-primary">Ver mais</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Publicado por Augusto Gomes</small>
    </div>
  </div>
    <div class="card">
    <img src="{{url_for('static', filename='img/padaria01.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Comprar pão na padaria</h5>
      <a href="#" class="btn btn-primary">Ver mais</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Publicado por Cláudia Santos</small>
    </div>
  </div>
</body>
{% endblock %}
</html>