<!DOCTYPE html>
<html>

<head>
    <title>Feed</title>
    <meta charset="UTF-8">
</head>
<style>

</style>
{% extends "layout.html" %}
{% block conteudo %}
<body>
<div class="anuncios my-3">
    <div class="titulo my-3">
        <h1>Meus Anúncios</h1>
    </div>
<div class= "card-deck my-4">
  <div class="card">
    <img src="{{url_for('static', filename='img/supermercado01.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Compras no supermercado</h5>
      <a href="#" class="btn btn-danger">Apagar</a>
    </div>
  </div>
  <div class="card">
    <img src="{{url_for('static', filename='img/farmacia01.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Compras na farmácia</h5>
      <a href="#" class="btn btn-danger">Apagar</a>
    </div>
  </div>
  </div>
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center my-4">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Próximo</a>
    </li>
  </ul>
</nav>
 </div>
</body>
{% endblock conteudo %}
</html>