<!DOCTYPE html>
<html>

<head>
    <title>Informações adicionais</title>
    <meta charset="UTF-8">
</head>
<style>
    .form-group {
        max-width: 500px;
        color: #FFFFFF;
    }
</style>
{% extends "layout.html" %}
{% block conteudo %}
<body>
    <div class="titulo my-3">
        <h1>Informações adicionais</h1>
    </div>
    <form action="formcriaranuncio" method="post">
    <div class="form-group">
      <label for="inputTítulo4">Data de Nascimento</label>
      <input type="date" class="form-control" name="data_nasc" max="2002-12-01">
    </div>
      <div class="form-group">
      <label for="exampleFormControl">Idade</label>
      <select type="text" class="form-control" name="idade">
        <option selected>Selecione sua idade</option>
        <option value="18">18 anos</option> <option value="19">19 anos</option> <option value="20">20 anos</option>
        <option value="21">21 anos</option> <option value="22">22 anos</option> <option value="23">23 anos</option>
        <option value="24">24 anos</option> <option value="25">25 anos</option> <option value="26">26 anos</option>
        <option value="27">27 anos</option> <option value="28">28 anos</option> <option value="29">29 anos</option>
        <option value="30">30 anos</option> <option value="31">31 anos</option> <option value="32">32 anos</option>
        <option value="33">33 anos</option> <option value="34">34 anos</option> <option value="35">35 anos</option>
        <option value="36">36 anos</option> <option value="37">37 anos</option> <option value="38">38 anos</option>
        <option value="39">39 anos</option> <option value="40">40 anos</option> <option value="41">41 anos</option>
        <option value="42">42 anos</option> <option value="43">43 anos</option> <option value="43">43 anos</option>
        <option value="44">44 anos</option> <option value="45">45 anos</option> <option value="46">46 anos</option>
        <option value="47">47 anos</option> <option value="48">48 anos</option> <option value="49">49 anos</option>
        <option value="50">50 anos</option> <option value="51">51 anos</option> <option value="52">52 anos</option>
        <option value="53">53 anos</option> <option value="54">54 anos</option> <option value="55">55 anos</option>
        <option value="56">56 anos</option> <option value="57">57 anos</option> <option value="58">58 anos</option>
        <option value="59">59 anos</option> <option value="60">60 anos</option> <option value="61">61 anos</option>
        <option value="62">62 anos</option> <option value="63">63 anos</option> <option value="64">64 anos</option>
        <option value="65">65 anos</option> <option value="66">66 anos</option> <option value="67">67 anos</option>
        <option value="68">68 anos</option> <option value="69">69 anos</option> <option value="70">70 anos</option>
        <option value="71">71 anos</option> <option value="72">72 anos</option> <option value="73">73 anos</option>
        <option value="74">74 anos</option> <option value="75">75 anos</option> <option value="76">76 anos</option>
        <option value="77">77 anos</option> <option value="78">78 anos</option> <option value="79">79 anos</option>
        <option value="80">80 anos</option> <option value="81">81 anos</option> <option value="82">82 anos</option>
        <option value="83">83 anos</option> <option value="84">84 anos</option> <option value="85">85 anos</option>
        <option value="86">86 anos</option> <option value="87">87 anos</option> <option value="88">88 anos</option>
        <option value="89">89 anos</option> <option value="90">90 anos</option> <option value="91">91 anos</option>
        <option value="92">92 anos</option> <option value="93">93 anos</option> <option value="94">94 anos</option>
        <option value="95">95 anos</option> <option value="96">96 anos</option> <option value="97">97 anos</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControl">Tipo de usuário</label>
      <div>
      <input class="form-group" type="radio" name="tipo_usuario" id="exampleRadios1" value="voluntario">
      <label class="form-group" for="exampleRadios1">
          Voluntário
      </label>
      <input class="form-group" type="radio" name="tipo_usuario" id="exampleRadios1" value="naoVoluntario">
      <label class="form-group" for="exampleRadios1">
          Não Voluntário
      </label>
      </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Foto do perfil</label>
      <input type="file" class="form-control-file" name="foto_perfil">
    </div>
    <div class="form-group my-4">
      <label for="inputbio">Biografia</label>
      <textarea class="form-control" type="text" name="biografia" placeholder="Escreva algo sobre você..." rows="5"></textarea>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
                Declaro que todas as informações prestadas são verdadeiras.
            </label>
        </div>
    </div>
    <a type="button" class="btn btn-primary my-3" href="/sucess" role="button">Cadastrar-me</a>
    </div>
    </form>
</body>
{% endblock conteudo  %}
</html>