<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <title>Voluntariados</title>
    <style>
    .bg-navbar {
        background-color: #16395d;
        }
    a {
        color: #FFFFFF;
        }
    .titulo {
        text-align: center;
        color: #FFFFFF;
        font-family:;
    }
    .formulario {
        text-align: center;
    }
    body {
        background-color: #F01353;
    }
    .footer {
        background-color: #274360;
        text-align: center;
        height: 50px;
        color: #FFFFFF;
        }
    </style>
  </head>
  <body>
      <header>
          <nav class="navbar navbar-light bg-navbar">
            <div>
            <img class="logo"><a href="/home"><img src="{{url_for('static', filename='img/logo-navbar.png')}}" alt="" width="235" height="82"></a>
            </div>
            <ul class="nav">
                <li class="nav-item mr-auto my-3">
                    <a class="nav-link" href="/home">Home</a>
                </li>
            <ul class="nav">
                <li class="nav-item mr-auto my-3">
                    <a class="nav-link" href="/feedvoluntario">Feed</a>
                </li>
            <ul class="nav">
                <li class="nav-item mr-auto my-3">
                <a class="nav-link" href="/contact">Contato</a>
                </li>
            <ul class="nav">
                <li class="nav-item mr-auto my-3">
                <a class="nav-link" href="/about">Sobre</a>
                </li>
            <li class="nav-item mr-auto my-1">
            <div>
            <img class="logo"><a href="/login"><img src="{{url_for('static', filename='img/perfil-navbar.png')}}" alt="" width="72" height="70"></a>
            </div

            </div>
      </header

      <div class="c">
        {% block c %} {% endblock  c %}
    </div>
    <div class="container">
        {% block conteudo %} {% endblock conteudo %}
    </div>
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>

  <footer class="footer">
      <div>
          Copyright ©2020 - Todos os direitos reservados a TechTime.
      </div>
    </footer>
</html>