<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <title>Voluntariados</title>
    <style>
        .bg-navbar {
            background-color:#FFDF5E;
        }
        .footer {
            background-color:#d9d9d9;
            text-align: center;
            margin: 5px;
            height: 50px;
        }
    </style>
  </head>
  <body>
      <header>
          <nav class="navbar navbar-light bg-navbar">
            <div>
            <img class="logo"><a href="/home"><img src="{{url_for('static', filename='img/logovo.png')}}"></a>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
            <ul class="nav">
                <li class="nav-item">
                <a class="nav-link" href="/contact">Contato</a>
                </li>
            <ul class="nav">
                <li class="nav-item">
                <a class="nav-link" href="/about">Sobre</a>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
</svg>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login">Entrar</a>
            </div>
      </header>
    <div class="container">
        {% block conteudo %} {% endblock %}
    </div>

    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
  <footer class="footer">
      <div>
          Copyright ©2020 - Todos os direitos reservados a TechTime.
      </div>
    </footer>
</html>