<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta charset="UTF-8">
</head>
{% extends "layout.html" %}
{% block conteudo %}
<style>
    .form-group {
        max-width: 450px;
    }
    .dropdown-item {
        color: #FFFFFF;
    }
    .form-signin {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: auto;
    }
</style>
<body>
    <div class="titulo my-3">
        <h2>Login</h2>
    <form class="form-signin py-3">
    <div class="form-group" alt="Responsive text">
      <label for="Email">Email</label>
      <input type="email" class="form-control" id="Email" placeholder="Digite seu email....">
    </div>
    <div class="form-group">
      <label for="Password">Senha</label>
      <input type="password" class="form-control" id="Password" placeholder="Digite sua senha...">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Lembrar-me
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/cadastro">Não tem login? Cadastre-se</a>
    <a class="dropdown-item" href="/resetpass">Esqueci minha senha</a>
    </div>
</body>

{% endblock %}
</html>